.header {
  grid-area: header;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas:
    ". header ."
    ". library .";
}

.library {
  display: flex;
  flex-direction: column;
  grid-area: library;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.new-book {
  max-width: 150px;
}

.books-container {
  display: flex;
  grid-area: books-container;
  height: 800px;
  width: 100%;
  background-color: beige;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.book {
  display: flex;
  flex-direction: column;
  background-color: gray;
  max-height: 300px;
  width: 250px;
}

.title,
.author,
.pages {
  color: white;
}

#completed {
  color: white;
  background-color: green;
}

#not-completed {
  background-color: red;
}
